.codeblock {
  pre {
    --shiki-dark-bg: var(--sl-color-bg-surface) !important;
    background-color: var(--sl-color-bg-surface) !important;

    span {
      white-space: break-spaces;
    }
  }
}

