.root {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  line-height: 1;

  --term-icon: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2060%2016'%20preserveAspectRatio%3D'xMidYMid%20meet'%3E%3Ccircle%20cx%3D'8'%20cy%3D'8'%20r%3D'8'%2F%3E%3Ccircle%20cx%3D'30'%20cy%3D'8'%20r%3D'8'%2F%3E%3Ccircle%20cx%3D'52'%20cy%3D'8'%20r%3D'8'%2F%3E%3C%2Fsvg%3E");
}

[data-element-button-text] {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--sl-color-text-secondary);

  &:hover {
    color: var(--sl-color-text);
  }

  &[data-element-button-more] {
    display: flex;
    align-items: center;
    gap: 0.125rem;

    span[data-button-icon] {
      line-height: 1;
      opacity: 0.85;
      svg {
        display: block;
      }
    }
  }
}

[data-element-label] {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--sl-color-text-dimmed);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  @media (max-width: 30rem) {
    gap: 1rem;
  }

  [data-section="title"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    & > div {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: flex-end;

      [data-section="date"] {
        span {
          font-size: 0.875rem;
          color: var(--sl-color-text-secondary);

          &[data-placeholder] {
            color: var(--sl-color-text-dimmed);
          }
        }
      }

      p[data-section="status"] {
        flex: 0 0 auto;
        display: flex;
        gap: 0.375rem;
        font-size: 0.75rem;

        span:first-child {
          color: var(--sl-color-divider);

          &[data-status="connected"] {
            color: var(--sl-color-green);
          }
          &[data-status="connecting"] {
            color: var(--sl-color-orange);
          }
          &[data-status="disconnected"] {
            color: var(--sl-color-divider);
          }
          &[data-status="reconnecting"] {
            color: var(--sl-color-orange);
          }
          &[data-status="error"] {
            color: var(--sl-color-red);
          }
        }
      }

    }
  }

  [data-section="row"] {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }

  h1 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.05em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @media (max-width: 30rem) {
      font-size: 1.25rem;
      -webkit-line-clamp: 3;
    }
  }

  [data-section="stats"] {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.875rem;

      span[data-placeholder] {
        color: var(--sl-color-text-dimmed);
      }
    }
  }

  [data-section="stats"][data-section-models] {
    li {
      gap: 0.3125rem;

      [data-stat-model-icon] {
        flex: 0 0 auto;
        color: var(--sl-color-text-dimmed);
        opacity: 0.85;
        svg {
          display: block;
        }
      }

      span[data-stat-model] {
        color: var(--sl-color-text);
      }
    }
  }
  [data-section="system-prompt"] {
    display: flex;
    gap: 0.3125rem;

    [data-section="icon"] {
      flex: 0 0 auto;
      color: var(--sl-color-text-dimmed);
      opacity: 0.85;
      svg {
        display: block;
      }
    }

    [data-section="content"] {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    button {
      line-height: 1rem;
      font-size: 0.875rem;
    }
  }
}

.parts {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  [data-section="part"] {
    display: flex;
    gap: 0.625rem;

    & > [data-section="decoration"] {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      align-items: center;
      justify-content: flex-start;

      div:first-child {
        flex: 0 0 auto;
        width: 18px;
        opacity: 0.65;
        svg {
          color: var(--sl-color-text-secondary);
          display: block;
        }
      }

      div:last-child {
        width: 3px;
        height: 100%;
        border-radius: 1px;
        background-color: var(--sl-color-hairline);
      }
    }

    & > [data-section="content"] {
      min-width: 0;
      padding: 0 0 0.375rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      [data-part-tool-body] {
        display: flex;
        flex-direction: column;
        gap: 0.375rem;
      }

      span[data-part-title] {
        line-height: 18px;
        font-size: 0.75rem;

        b {
          font-weight: 500;
        }

        &[data-size="md"] {
          font-size: 0.875rem;
        }
      }

      span[data-part-footer] {
        align-self: flex-start;
        font-size: 0.75rem;
        color: var(--sl-color-text-dimmed);
      }

      span[data-part-model] {
        line-height: 1.5;
      }

      [data-part-tool-args] {
        display: inline-grid;
        align-items: center;
        grid-template-columns: max-content max-content minmax(0, 1fr);
        max-width: 100%;
        gap: 0.25rem 0.375rem;

        & > div:nth-child(3n + 1) {
          width: 8px;
          height: 2px;
          border-radius: 1px;
          background: var(--sl-color-divider);
        }

        & > div:nth-child(3n + 2),
        & > div:nth-child(3n + 3) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 0.75rem;
          line-height: 1.5;
        }

        & > div:nth-child(3n + 3) {
          padding-left: 0.125rem;
          color: var(--sl-color-text-dimmed);
        }
      }

      [data-part-tool-result] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        button {
          font-size: 0.75rem;
        }
      }
    }
  }

  /* Part types */
  [data-part-type="user-text"],
  [data-part-type="ai-text"],
  [data-part-type="ai-model"],
  [data-part-type="system-text"],
  [data-part-type="fallback"] {
    & > [data-section="content"] {
      padding-bottom: 1rem;
    }
  }

  [data-part-type="tool-list"],
  [data-part-type="tool-glob"],
  [data-part-type="tool-read"],
  [data-part-type="tool-fetch"] {
    & > [data-section="content"] > [data-part-tool-body] {
      gap: 0.5rem;
    }
    [data-part-title] {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;

      b {
        color: var(--sl-color-text);
        word-break: break-all;
      }
    }
  }

  [data-part-type="tool-grep"] {
    &:not(:has([data-part-tool-args]))
      > [data-section="content"] > [data-part-tool-body] {
      gap: 0.5rem;
    }
    [data-part-title] {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;

      b {
        color: var(--sl-color-text);
        word-break: break-all;
      }
    }
  }

  [data-part-type="tool-read"],
  [data-part-type="tool-fetch"] {
    [data-part-tool-result] {
      [data-part-tool-code] {
        border: 1px solid var(--sl-color-divider);
        border-radius: 0.25rem;
        padding: 0.5rem calc(0.5rem + 3px);

        pre {
          line-height: 1.6;
          font-size: 0.75rem;
          white-space: pre-wrap;
          word-break: break-word;
        }
      }
    }
  }

  [data-part-type="tool-edit"] {
    & > [data-section="content"] > [data-part-tool-body] {
      gap: 0.5rem;
    }
    [data-part-title] {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      b {
        color: var(--sl-color-text);
      }
    }
  }
}

.message-text {
  background-color: var(--sl-color-bg-surface);
  padding: 0.5rem calc(0.5rem + 3px);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  &[data-size="sm"] {
    pre {
      font-size: 0.75rem;
    }
  }

  &[data-color="dimmed"] {
    pre {
      color: var(--sl-color-text-dimmed);
    }
  }

  pre {
    line-height: 1.5;
    font-size: 0.875rem;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    color: var(--sl-color-text);
  }

  button {
    flex: 0 0 auto;
    padding: 2px 0;
    font-size: 0.75rem;
  }

  &[data-highlight="true"] {
    background-color: var(--sl-color-blue-high);

    pre {
      color: var(--sl-color-text-invert);
    }

    button {
      opacity: 0.85;
      color: var(--sl-color-text-invert);

      &:hover {
        opacity: 1;
      }
    }
  }

  &[data-expanded="true"] {
    pre {
      display: block;
    }
  }
  &[data-expanded="false"] {
    pre {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}

.message-terminal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  & > [data-section="body"] {
    border: 1px solid var(--sl-color-divider);
    border-radius: 0.25rem;
    max-width: 100%;

    [data-section="header"] {
      position: relative;
      border-bottom: 1px solid var(--sl-color-divider);
      width: 100%;
      height: 1.625rem;
      text-align: center;
      padding: 0 0.75rem 0 3.25rem;

      & > span {
        max-width: min(100%, 140ch);
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        line-height: 1.625rem;
        font-size: 0.75rem;
        text-overflow: ellipsis;
        color: var(--sl-color-text-dimmed);
      }

      &::before {
        content: '';
        position: absolute;
        pointer-events: none;
        top: 8px;
        left: 10px;
        width: 2rem;
        height: 0.5rem;
        line-height: 0;
        background-color: var(--sl-color-hairline);
        mask-image: var(--term-icon);
        mask-repeat: no-repeat;
      }
    }
  }

  [data-section="content"] {
    padding: 0.5rem calc(0.5rem + 3px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    pre {
      line-height: 1.6;
      font-size: 0.75rem;
      white-space: pre-wrap;
      word-break: break-word;
    }
  }

  &[data-expanded="true"] {
    pre {
      display: block;
    }
  }
  &[data-expanded="false"] {
    pre {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 7;
      overflow: hidden;
    }
  }

  button {
    flex: 0 0 auto;
    padding-left: 1px;
    font-size: 0.75rem;
  }
}

.diff-code-block {
  pre {
    line-height: 1.25;
    font-size: 0.75rem;
  }
}

.todos {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid var(--sl-color-divider);
  border-radius: 0.25rem;

  li {
    margin: 0;
    position: relative;
    padding-left: 1.5rem;
    font-size: 0.75rem;
    padding: 0.375rem 0.625rem 0.375rem 1.75rem;
    border-bottom: 1px solid var(--sl-color-divider);
    line-height: 1.5;

    &:last-child {
      border-bottom: none;
    }

    & > span {
      position: absolute;
      display: inline-block;
      left: 0.5rem;
      top: calc(0.5rem + 1px);
      width: 0.75rem;
      height: 0.75rem;
      border: 1px solid var(--sl-color-divider);
      border-radius: 0.15rem;

      &::before {
      }
    }

    &[data-status="pending"] {
      color: var(--sl-color-text);
    }
    &[data-status="in_progress"] {
      color: var(--sl-color-text);

      & > span { border-color: var(--sl-color-orange); }
      & > span::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(0.75rem - 2px - 4px);
        height: calc(0.75rem - 2px - 4px);
        box-shadow: inset 1rem 1rem var(--sl-color-orange-low);
      }
    }
    &[data-status="completed"] {
      color: var(--sl-color-text-dimmed);

      & > span { border-color: var(--sl-color-hairline); }
      & > span::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(0.75rem - 2px - 4px);
        height: calc(0.75rem - 2px - 4px);
        box-shadow: inset 1rem 1rem var(--sl-color-divider);

        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      }
    }
  }
}
